html {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;

}
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
a {
    text-decoration: none;
}
.header-links a:active {
    border-bottom: 3px solid rgba(241, 205, 179, 1);
}
a:visited {
    color:  rgba(84, 84, 84, 1);
}
.burger {
    display: none;
}
.burger2 {
    display: none;
}
h1 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: .06em;
}
h3 {
    margin: 0;
    font-family: 'Georgia';
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: .06em;
}
.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 1280px;
    height: 100%;
}
header {
    display: flex;
    justify-content: space-between;
    min-width: 1200px;
    position: fixed;
    min-height: 120px;
    margin: 0 auto;
}

#bkg0 {
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 120px;
    background-color: rgba(255, 255, 255, 1);
    left: 0;
}
.header-logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(184%/12);
    max-height: 60px;
    margin-top: 30px;
    margin-left: 3.3%;
    z-index: 101;
}
.header-logo h1 {
    margin: 0;
    white-space: nowrap;
    color: rgba(84, 84, 84, 1);
}
.header-logo span {
    color: rgba(41, 41, 41, 1);
    color: rgba(41, 41, 41, 1);
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: .1em;
    padding-left: 2.307%;
    width: 100%;
}
.header-links {
    display: flex;
    justify-content: space-between;
    width: calc(443%/12);
    height: 24px;
    margin-top: 46px;
    margin-right: -3.25%;
}
.header-links a {
    padding-bottom: 5.3%;
    color:  rgba(84, 84, 84, 1);
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
}
.header-links a:hover {
    color: rgba(41, 41, 41, 1);
}
#active-link {
    border-bottom: 3px solid rgba(241, 205, 179, 1);
}
.animals-container {
    margin-top: 120px;
    width: 100%;
    min-height: 1342px;
}
#bkg1 {
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 1342px;
    background-color: rgba(246, 246, 246, 1);
    left: 0;
}
.animals {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(1200%/12.8);
    height: calc(1162%/13.42);
    margin: 0 auto;
    margin-top: 80px;
}
.animals h3 {
    text-align: center;
    width: calc(400%/12);
    padding-left: .3%;
    color: rgba(84, 84, 84, 1);
}
.animals-choice {
    width: 100%;
    height: calc(900%/11.62);
    display: grid;
    grid-template-columns: repeat(4, 1fr );
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 30px;
}
.animals-card {
    border-radius: 9px;
    background-color: rgba(250, 250, 250, 1);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 30px;
    transition: color, .5s;
}
.animals-card span {
    margin: 0;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: .06em;
    color: rgba(41, 41, 41, 1);
}
.animals-card button {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: .06em;
    width: calc(187%/2.7);
    height: calc(52%/4.35);
    border-radius: 100px;
    border: 2px solid rgba(241, 205, 179, 1);
    background-color: rgba(250, 250, 250, 1);
    transition: color, .5s;
}
button {
    transition: color, .5s;
}
.animals-card:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 1);
}
.animals-card:hover button {
    cursor: pointer;
    background-color: rgba(253, 220, 196, 1); 
    border: 2px solid rgba(253, 220, 196, 1);
}
.pagination-block {
    display: flex;
    justify-content: space-between;
    width: calc(340%/12);
    height: calc(52%/11.62);
}
.pagination-block button {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: .06em;
    width: calc(52%/3.4);
    height: 100%;
    border-radius: 50%;
    border: none;
    background-color: rgba(246, 246, 246, 1);
}

.pagination-block button:hover {
    cursor: pointer;
}
.pagination-block button {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: .06em;
}

.inactive-more {
    color: rgba(205, 205, 205, 1);
    border: 2px solid rgba(205, 205, 205, 1)!important;
}
.inactive:hover {
    cursor: default !important;
}
.inactive-more:hover {
    cursor: default !important;
}
.inactive {
    color: rgba(205, 205, 205, 1);
    border: 2px solid rgba(205, 205, 205, 1) !important;

}
.active4 {
    border: 2px solid rgba(241, 205, 179, 1) !important;

}
.active4:hover {
    cursor: pointer !important;
    background-color: rgba(241, 205, 179, 1) !important;
}
.active-more {
    color: rgba(41, 41, 41, 1);
    border: 2px solid rgba(241, 205, 179, 1) !important;
}
.active-more:hover {
    cursor: pointer !important;
    background-color: rgba(241, 205, 179, 1) !important;
}
#counter-page {
    background-color: rgba(241, 205, 179, 1);
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: .06em;
}
.footer {
    width: 100%;
    min-height: 350px;
}
#bkg2 {
    z-index: -1;
    position: absolute;
    left: 0;
    width: 100vw;
    height: 350px;
    background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);    background-size: cover;
}
.popup-enabled {
    z-index: 202;
    display: flex;
    overflow-y: hidden;
}
.footer {
    display: flex;
    justify-content: space-between;
    width: calc(1200%/12.8);
    height: 100%;
    margin: 0 auto;
}
.footer-text {
    margin-top: 4.75%;
    width: calc(740%/12);
    height: calc(230%/3.5);
    display: flex;
    justify-content: space-between;
}
.footer-text h3 {
    font-size: 35px;
    line-height: 130%;
    color: rgba(255, 255, 255, 1);
}
.footer-text__contacts {
    display: flex;
    flex-direction: column;
    width: 40.729%;
    height: 100%;
}
#footer-email {
    display: flex;
    flex-direction: row-reverse;
    font-family: 'Georgia';
    width: 83.6%;
    min-height: 26px;
    margin-top: 14%;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 115%;
    letter-spacing: .06em;
    color: rgba(241, 205, 179, 1);
    margin-bottom: 0.2%;
    background: url(../../assets/icons/mail.svg) no-repeat no-repeat left;
}
#footer-phone {    display: flex;
    flex-direction: row-reverse;
    font-family: 'Georgia';
    width: 79.5%;
    min-height: 32px;
    margin-top: 14.9%;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 115%;
    letter-spacing: .06em;
    color: rgba(241, 205, 179, 1);
    background: url(../../assets/icons/phone.svg) no-repeat no-repeat left;
}
.footer img {
    margin-top: 3.3%;
    width: calc(300%/12);
    height: calc(310%/3.5);
}
.footer-text__address {
    width: calc(301%/7.4);
    display: flex;
    flex-direction: column;
}
#footer-adress1 {
    color: rgba(241, 205, 179, 1);
    width: 100%;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: .06em;
    margin-bottom: 10.7%;
    margin-top: 10.5%;
    padding-left: 13.8%;
    background: url(../../assets/icons/pin.svg) no-repeat no-repeat left;
}
#footer-adress2 {
    color: rgba(241, 205, 179, 1);
    min-height: 32px;
    padding-left: 13.8%;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: .06em;
    background: url(../../assets/icons/pin.svg) no-repeat no-repeat left;
}
.slide-block-wrapper {
    display: none;
}
.animals-card-container__disable {
    display: none;
}
.popup_wrapper {
    display: none;
    cursor: auto;
    flex-direction: column;
    justify-content: center;
    z-index: 201;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:rgba(41, 41, 41, 0.6);
}
.popup-enabled {
    z-index: 202;
    display: flex;
}
.popup-close__wrapper {
    width: 952px;
    height: 552px;
    margin: 0 auto;
}
.popup {
    justify-content: space-between;
    display: flex;
    border-radius: 9px;
    width: calc(900%/9.52);
    height: calc(500%/5.52);
    background-color: rgba(250, 250, 250, 1);   
}
.popup img {
    width: calc(500%/9);
    height: 100%;
}
.popup__close {
    transition: .3s;
    position: relative;
    left: 94.2%;
    width: 52px;
    height: 52px;
    border: 2px solid rgba(241, 205, 179, 1);
    border-radius: 50%;
    background: url(../../assets/icons/cross.svg) no-repeat no-repeat center;
}
.popup__close:hover {
    background-color: rgba(241, 205, 179, 1);
}
.popup_wrapper:hover .popup__close {
    background-color: rgba(241, 205, 179, 1);
}
.popup__information {
    margin-top: 50px;
    width: calc(351%/9);
    height: calc(362%/5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.popup__information h3 {
    line-height: 130%;
    font-size: 35px;
    letter-spacing: .06em;
    text-align: start;
    margin: 0;
    color: 
    rgba(0, 0, 0, 1);
}
.popup__information h4 {
    line-height: 115%;
    font-size: 20px;
    letter-spacing: .06em;
}
.popup__information p {
    line-height: 110%;
    font-size: 15px;
    letter-spacing: .06em;
}
.popup__information ul {
    margin: 0;
    padding: 0;
    padding-left: 4.5%;
}
.popup__information span {
    color: 
    rgba(0, 0, 0, 1);
}
.popup__information li {
    color: rgba(241, 205, 179, 1);
}
li .bold {
    font-size: 15px;
    line-height: 110%;
    font-weight: bold;
}
@media (min-width: 768px) and (max-width: 1279.98px) {
    .popup-close__wrapper {
        width: 682px;
        height: 402px;
        margin: 0 auto;
    }
    .popup {
        justify-content: space-between;
        display: flex;
        border-radius: 9px;
        min-width: calc(630%/6.82);
        min-height: calc(350%/4.02);
        background-color: rgba(250, 250, 250, 1);   
    }
    .popup img {
        max-width: calc(350%/6.3);
        height: 100%;
    }
    .popup__close {
        transition: .3s;
        position: relative;
        left: 94.2%;
        width: 52px;
        height: 52px;
        border: 2px solid rgba(241, 205, 179, 1);
        border-radius: 50%;
        background: url(../../assets/icons/cross.svg) no-repeat no-repeat center;
    }

    .popup__information {
        margin-top: 10px;
        width: calc(260%/6.3);
        height: calc(303%/3.5);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .popup__information p {
        line-height: 110%;
        font-size: 13px;
        letter-spacing: .06em;
    }
    .container {
        width: 768px;
    }
    header {
        z-index: 101;
        min-width: 768px;
    }
    .header-logo {
        width: calc(184%/7.68);
        margin-left: 3.9%;
        margin-top: 4.1%;
    }
    .header-links {
        min-width: calc(443%/7.68);
        margin-right: 3.9%;
        margin-top: 6.1%;
    }
    .animals-container {
        width: 100%;
        min-height: 1733px;
    }
    #bkg1 {
        min-height: 1733px;
    }
    
    .animals {
        width: calc(708%/7.68);
        height: calc(1603%/17.33);
    }
    .animals h3 {
        width: calc(400%/7.08);
        padding: 0;
        position: relative;
        top: .1%;
        left: .22%;
    }
    .animals-choice {
        margin-top: -1.4%;
        width: calc(580%/7.08);
        height: calc(1365%/16.03);
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .animals-card:nth-child(8) {
        display: none;
    }
    .animals-card:nth-child(7) {
        display: none;
    }
    .pagination-block {
        width: calc(340%/7.08);
        height: calc(52%/16.03);
        margin-bottom: 3.5%;
    }
    .footer-container {
        min-height: 639px;
    }
    #bkg2 {
        min-height: 639px;
    }
    .footer {
        align-items: center;
        flex-direction: column;
    }
    .footer img {
        min-width: calc(300%/7.2);
        height: calc(310%/6.39);
    }
    .footer-text {
        margin-top: 30px;
        width: calc(708%/7.2);
        height: calc(234%/6.39);
    }
    .footer-text__contacts {
        width: calc(279%/7.08);
        height: 100%;
    }
    .footer-text__contacts h3 {
        width: 100%;
        height: 90px;
        margin-left: 12.3%;
        letter-spacing: .06em;
        margin-top: .8%;
    }
    #footer-email {
        width: calc(251%/2.79);
        margin-left: 12.5%;
        margin-top: 15.8%;
    }
    #footer-phone {
        width: calc(239%/2.79);
        margin-left: 12.5%;
        margin-top: 16.1%;
    }
    .footer-text__address {
        width: calc(320%/7.08);
        height: 100%;
        margin-right: 2%;
    }
    .footer-text__address h3 {
        margin-top: .5%;
    }
    #footer-adress1 {
        margin-left: -1.2%;
        margin-top: 9.8%;
    }
    #footer-adress2{
        margin-left: -1%;
        margin-top: -.4%;
    }
}

.burger-menu-wrapper {
    display: none;
}
@media (min-width: 0px) and (max-width: 767.98px) {
    .popup-close__wrapper {
        width: 271px;
        height: 393px;
        margin: 0 auto;
    }
    .popup {
        justify-content: space-between;
        display: flex;
        border-radius: 9px;
        min-width: calc(240%/2.71);
        min-height: calc(341%/3.93);
        background-color: rgba(250, 250, 250, 1);   
    }
    .popup img {
        display: none;
    }
    .popup__close {
        transition: .3s;
        position: relative;
        left: 94.2%;
        width: 52px;
        height: 52px;
        border: 2px solid rgba(241, 205, 179, 1);
        border-radius: 50%;
        background: url(../../assets/icons/cross.svg) no-repeat no-repeat center;
    }

    .popup__information {
        align-items: center;
        margin-top: 10px;
        width: calc(220%/2.4);
        height: calc(321%/3.41);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 auto;
    }
    .popup__information h3 {
        text-align: center;
    }
    .popup__information p {
        line-height: 110%;
        font-size: 13px;
        letter-spacing: .06em;
    }

    .burger-menu-wrapper {
        z-index: 101;
        flex-direction: row-reverse;
        position: fixed;
        left: 500%;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0,0, 0, .5);
        display: flex;
        transition: .3s;

    }
    .active2 {
        left: 0;
    }
    .burger-menu {
        z-index: 101;
        min-width: 320px;
        height: 100%;
        background-color:  rgba(41, 41, 41, 1);
        position: absolute;
    }
    .burger-menu-links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 auto;
        margin-top: 100%;
        width: calc(243%/3.2);
        height: 327px;
    }
    .burger-link {
        color: rgba(205, 205, 205, 1);
        font-size: 32px;
        font-family: Arial;
        font-weight: 400;
        line-height: 160%;
        font-style: normal;
    }
    .burger-link:visited {
        color: rgba(205, 205, 205, 1);
    }
    .burger-link:hover {
        color: rgba(250, 250, 250, 1);
    }
    #active-burger-link {
        
        color: rgba(250, 250, 250, 1);
        border-bottom: 3px solid rgba(241, 205, 179, 1);
    }
    #active-burger-link:visited {
        color: rgba(250, 250, 250, 1);
    }
    .container {
        width: 320px;
    }
    header {
        min-width: 320px;
    }
    .header-logo {
        width: calc(184%/3.2);
    }
    .header-links {
        display: none;
    }
    .animals-container {
        width: 100%;
        min-height: 1649px;
    }
    #bkg1 {
        min-height: 1649px;
    }
    
    .animals {
        width: calc(300%/3.2);
        height: calc(1565%/16.49);
        margin-top: 42px;
    }
    .animals h3 {
        width: 100%;
        padding: 0;
        font-size: 25px;
        margin-left: .8%;
    }
    .animals-choice {
        margin-bottom: 1%;
        width: calc(270%/3);
        height: calc(1365%/15.65);
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
    .animals-card {
        height: 405px;
    }
    .animals-card span, .animals-card button  {
        margin-left: 1%;
    }
    .animals-card button {
        min-height: calc(52%/4.05);
    }
    .animals-card:nth-child(8) {
        display: none;
    }
    .animals-card:nth-child(7) {
        display: none;
    }
    .animals-card:nth-child(6) {
        display: none;
    }
    .animals-card:nth-child(5) {
        display: none;
    }
    .animals-card:nth-child(4) {
        display: none;
    }
    .pagination-block {
        width: 100%;
        height: calc(52%/16.03);
    }
    .pagination-block button {
        width: calc(52%/3);
    }
    .footer-container {
        min-height: 809px;
    }
    #bkg2 {
        min-height: 809px;
    }
    .footer {
        align-items: center;
        flex-direction: column;
    }
    .footer img {
        min-width: calc(260%/3);
        height: calc(269%/8.09);
    }
    .footer-text {
        flex-direction: column;
        margin-top: 9.1%;
        min-width: 100%;
        height: calc(470%/8.09);
    }
    .footer-text__contacts {
        min-width: 100%;
        max-height: calc(208%/4.7);
    }
    .footer-text__contacts h3 {
        text-align: center;
        width: 100%;
        font-size: 25px;
        letter-spacing: .06em;
        margin-top: .9%;
    }
    #footer-email {
        width: calc(251%/3);
        margin-left: 8.2%;
        margin-top: 14.6%;
    }
    #footer-email div {
        background-position: left;
    }
    #footer-phone {
        width: calc(239%/3);
        margin-left: 10.3%;
        margin-top: 15.1%;
    }
    .footer-text__address {
        width: 100%;
        height: calc(222%/4.7);
    }
    .footer-text__address h3 {
        width: calc(270%/3);
        margin-left: 5%;
        margin-top: .8%;
        font-size: 25px;
        text-align: center;
    }
    #footer-adress1 {
        margin-top: 13.2%;
    }
    #footer-adress2{
        margin-top: 2.2%;
        margin-left: .3%;
    }

    .burger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 22px;
        margin-top: 15.2%;
        margin-right: 16.5%;
        transition: .2s;
        z-index: 101;
    }
    .burger:hover {
        cursor: pointer;
    }
    .burger div {
        width: 100%;
        height: 2px;
        background-color: 
        rgba(0, 0, 0, 1);
    }
    .burger2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 22px;
        transition: .2s;
        z-index: 101;
        margin-top: 15.2%;
        margin-left: 80%;
    }
    .burger2:hover {
        cursor: pointer;
    }
    .burger2 div {
        width: 100%;
        height: 2px;
        background-color: #fff;
    }
    .active {
        transform: rotate(90deg);
    }
    .active2 {
        display: flex;
        left: 0;
    }
    .active3 {
        overflow: hidden;
    }
}